@using Microsoft.AspNetCore.Identity
@using Todo.Services

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Moved these variables here so they're in scope of the script at the bottom
    var identityUser = await UserManager.GetUserAsync(User);
    var emailAddress = await UserManager.GetEmailAsync(identityUser);
    var gravatarhash = Gravatar.GetHash(emailAddress);
    var gravatarJsonEndpoint = $"{gravatarhash}.json";

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">                    
                    <Label id="nav-display-name-label"></Label>
                    <img src="https://www.gravatar.com/avatar/@gravatarhash?s=30" />
                    @UserManager.GetUserName(User)
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="https://www.gravatar.com/@gravatarJsonEndpoint?callback=setNavigationDisplayName" type="text/javascript"></script>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}